@font-face {
	font-family: "Montserrat";
	src: url(src/Montserrat.ttf);
}
@font-face {
		font-family: "NunitoSans";
	src: url(src/NunitoSans-Regular.ttf);
}

@media (min-width: 900px) {
	:root {
		--header_font-size: 14px;
		--header_logo-w: 31px;
	}
}
@media (max-width: 900px) {
	:root {
		--header_font-size: 1.6vw;
		--header_logo-w: calc(16px + 1.7vw);
	}
}
@media (min-width: 1280px) {
	:root {
		--footer_font-size: 16px;
	}
}
@media (max-width: 1280px) {
	:root {
		--footer_font-size: calc(6px + 0.7vw);
	}
}

:root {
	--active-color: #10c9c3;
}

* {
	margin: 0;
	font-family: "Montserrat";
}
p {
	font-family: "NunitoSans";
}

a {
	color: inherit;
	text-decoration: none;
}
.selected {
	color: var(--active-color);
}

body {
	background-color: #e9e9e9;
}

header {
	height: 3.5vh;
	padding-inline: 8vw;
	padding-block: 2vh;
	display: flex;
	justify-content: space-between;
	background-color: white;
}
header #logo {
	width: var(--header_logo-w);
	height: auto;
}
header li {
	display: inline;
	margin-left: 2vw;
	list-style: none;
}
header ul a {
	font-size: var(--header_font-size);
	font-weight: bolder;
}

section {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
section p {
	color: #858585;
}

footer {
	padding-inline: 6vw;
	padding-block: 11vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: black;
	color: #cfcfcf;
}
footer * {
	font-size: var(--footer_font-size);
}
footer p, footer li {
	margin-bottom: 0.5em;
}
footer li {
	list-style: none;
}
footer #credits {
	grid-column: 1/3;
}
footer h3 {
	margin-bottom: 1.5em;
	color: white;
}
footer #contacts {
	margin-inline: auto;
	grid-column: 5/7;
}
footer #links {
	grid-column: 8/10;
	display: flex;
	justify-content: space-evenly;
}
footer #social_media {
	margin-inline: auto;
	grid-column: 11/12;
}